RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^contact/?$    contact.php    [NC,L]   
RewriteRule    ^signin/?$    login.php    [NC,L]   
RewriteRule    ^signup/?$    registration.php    [NC,L]   
RewriteRule    ^signup/([A-Za-z0-9-]+)/?$    registration.php?ref=$1    [NC,L]   
RewriteRule    ^ForgotPassword/?$    forgotpass.php    [NC,L]   
RewriteRule    ^dashboard/?$    home.php    [NC,L]   
RewriteRule    ^signout/?$    signout.php    [NC,L]   
RewriteRule    ^changepassword/?$    changepass.php    [NC,L]   
RewriteRule    ^head-tail/?$    head-and-tail.php    [NC,L]   
RewriteRule    ^headandtailresult/?$    head-and-tail-result.php    [NC,L]   
RewriteRule    ^seventrade/?$    gameseventrade.php    [NC,L]   
RewriteRule    ^seventradesubmit/?$    seventradesubmit.php    [NC,L]   
RewriteRule    ^seventradestat/?$    seventradestat.php    [NC,L]   
RewriteRule    ^seventradewinlist/?$    seventradewinlist.php    [NC,L]   
RewriteRule    ^bid-on-game/?$    bidgame.php    [NC,L]   
RewriteRule    ^bid-now/?$    bidnow.php    [NC,L]   
RewriteRule    ^bidnowsubmit/?$    bidnowsubmit.php    [NC,L]   
RewriteRule    ^updateprofile/?$    updateprofile.php    [NC,L]   
RewriteRule    ^profilepicture/?$    profilepicture.php    [NC,L]   
RewriteRule    ^profile/?$    profile.php    [NC,L]   
RewriteRule    ^balancetransfer/?$    balancetransfer.php    [NC,L]   
RewriteRule    ^transactionreport/?$    transactionreport.php    [NC,L]   
RewriteRule    ^addbalance/?$    addbalance.php    [NC,L]   
RewriteRule    ^withdrawbalance/?$    withdrawbalance.php    [NC,L]   
RewriteRule    ^affiliation/?$    affiliation.php    [NC,L]   
RewriteRule    ^DepositPreview/?$    addmoneyPreview.php    [NC,L]   
RewriteRule    ^DepositNow/?$    addNow.php    [NC,L]   
